<header>
  <nav class="nav">
    <ul class="nav__list">
      <% if user_signed_in? %>
        <li class="nav__item">
          <%= link_to "New post", new_post_path, class: "nav__link" %>
        </li>
      <% else %>
        <li class="nav__item">
          <a href="/users/sign_in">Login</a>
        </li>
      <% end %>
    </ul>
  </nav>
</header